<!DOCTYPE html>
<html lang="en">

<head >
    <title>Recalculator</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta name="josh" content="main_page">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link href="../static/padding.css" rel="stylesheet">
	  <!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	  <![endif]-->
</head>

<body>
    <script>
	function onButtonClick()
        {
        	let stringU = "/" + document.getElementById("inputURL").value;
            $.ajax({
                dataType: 'text',
                url: stringU,
                type: "POST",
                success: function(result) {
                   document.getElementById("myOutput").innerHTML = result;
                	myFunction();
                },
                error: function(result) {
                    document.getElementById("myOutput").innerHTML.text = 'No title found';
                }
            });
        }


        function myFunction() {
			var x = document.getElementById('popUpDiv');
			if (x.style.display === 'none') {
				x.style.display = 'block';
			}
		}
	</script>

    <div class="container" align="center">
		<br/>
        <div class="jumbotron">
            <h1 style="display: inline">Rating Recalculator: </h1> <text style="display: inline-block">A better rating is waiting.</text>
			<br/><br/>
			<div class="wrapper">
				<p>
					<input id = "inputURL" name="inputURL" type="text" />
					<button class="btn btn-lg btn-success" id = "button" onclick="onButtonClick()">Analyze</button>
				</p>
			</div>
        </div>

		<div class="content">
			<div class="col-lg-6">
				<div id="popUpDiv" style="display:none">
					<h4 align="left">Output:</h4>
					<p id="myOutput" align="left">My Output.</p>
				</div>
                <br/><br/>
                <h4 align="left">About:</h4>
				<p align="left">This is a python web application that recalculates a rating of a TV show or Movie on IMDB.</p>
			</div>
		</div>
	</div>

	<br/><br/><br/>
	<footer class="footer" align="center" style="background:#79abfc;" >
		<p>&copy;2017 Josh Glenen</p>
	</footer>

</body>

</html>